version: '3'

services:
  airflow-webserver:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: airflow-webserver
    restart: always
    depends_on:
      - airflow-scheduler
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'false'
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - ./data:/opt/airflow/data
      - ./delta:/opt/airflow/delta
      - ./output:/opt/airflow/output
      - ./logs:/opt/airflow/logs
    ports:
      - "8080:8080"
    command: webserver

  airflow-scheduler:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: airflow-scheduler
    restart: always
    depends_on:
      - airflow-init
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - ./data:/opt/airflow/data
      - ./delta:/opt/airflow/delta
      - ./output:/opt/airflow/output
      - ./logs:/opt/airflow/logs
    command: scheduler

  airflow-init:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: airflow-init
    restart: "no"
    entrypoint: /bin/bash
    command: -c "airflow db init && airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin"
    volumes:
      - ./dags:/opt/airflow/dags
